body{
    background-color: #F9FBFD !important;
}
/* The right sidebar CSS modification */  

.compress { 
	top: 1px !important; 
}


/* CUSTOM STYLES */
.navbar-default {
	background-color: #F9FBFD;
	border-color: none;
	border: 0px;
}

.container-fluid{
	padding-left: 200px !important;
  	max-width: 1200px;
  	margin: 20px auto;
}

@media screen and (min-width: 1400px) {
	.container-fluid {
		max-width: 1600px;
	}
}

@media screen and (max-width: 768px) {
  .container-fluid {
    padding-left: 0px !important;
    margin:0px 20px;
  }
}


.first-page-navbar #sidebar{
	display: block !important;
	width: 200px;
}

.btn-zero-border{
	border: 0px solid #fff;
}

.right-menus .btn{
	border: 0px solid #fff;
}

#sidebar {
	border: 0px solid #fff;
}
#sideBarContainer {
	border: 0px solid #fff;
}

.list-group-item {
	border: 0px solid #fff !important;
	border: 3px;
}

.first-page-slider-row{
	padding:10px 10px 40px;
	border-radius:8px;
}
.well{
	background-color: transparent;
	border: 0px;
	border-radius: 0px;
	margin:0px auto;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.control-label-make{
	font-weight: 300;
	font-size:12px;
	padding-top:5px;
}

.form-control-make{
	border: 0px;
}

.input-group-addon-make{
	border:0px;
	background-color: #fff;
	color#470e82 !important;
}

.nav > li > a { padding: 10px 5px; }

.sidebar-title{
	font-size:14px;
}

.list-group-item {
	background-color: #F9FBFD;
}

.btn-gris {
	background-color: #F9FBFD !important;
}

.panel-body {
	background-color:#fff;
	border-radius:8px;
}

.bgWhite{
	background: #ffffff;
}

.roundedBox{
	box-shadow: 0 1px 2px 0 rgba(190,190,190,0.50);
	transition: all 300ms ease;
	padding: 30px;
	margin: 0 auto 20px;
}

.panel-heading {
	font-weight:600;
	font-size:13px;
	/*border-left:3px solid #ff0000;*/
	line-height:13px;
	border-radius:0px;
	margin-bottom:10px;
}


.youmake-button:hover {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: #3f0c74 !important;
}

.youmake-button {
    border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: #fff;
    background: #4f1091 !important;
    background-color: rgb(50, 50, 93);
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    margin:0px auto;
}

.panel-body h3,h2{
	font-size:13px;
	font-weight: 400;
}
.panel-body{
	font-size:13px;
}

/* better color than #F9FBFD; => #F9FBFD */
